.header_container{
display:flex;
justify-content: space-between;
background-color: rgba(237, 202, 202, 0.436);
}

.header__img{
    margin-top: 2rem;
    margin-left: 2rem;;
    width: 5rem ;
    height: 4rem;
}

.nav_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    

}

.nav__list {
    text-decoration: none;
    list-style: none;
    margin-right:5rem;
}

a{
    outline: none;
    text-decoration: none;
    display: inline-block;
/*    width: 19.5%;*/
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: #D3161D;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
